* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #5B191A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 0 2% 0;
  overflow: hidden;
}

#title {
  width: 17vw;
  margin-left: 5%;
}

#banner-1 {
  margin-right: 5%;
}

nav {
  background-color: black;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2vw;
}

nav li {
  padding: 1em 2em 1em 2em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

#date {
  text-align: right;
  width: 100%;
  padding-top: 0.5%;
}

#date h2 {
  margin-right: 2%;
}

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #C4C4C4;
  padding: 1% 0 1% 2%;
}

.flexbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2%;
}

.flexbox img {
  max-width: 30%;
}

.text1 {
  width: 30%;
  font-size: 1.5vw;
  text-align: center;
  height: 30%;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
}

.text2 {
  width: 30%;
  font-size: 1.5vw;
  text-align: center;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 35%;
  background-color: black;
  color: white;
}

.text3 {
  width: 30%;
  font-size: 1.5vw;
  text-align: center;
  height: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
}

#main-part-two {
  margin-top: 2%;
}

#banner-3 {
  width: 70%;
  display: block;
  margin: auto;
  padding: 2%;
}

.flexbox-two {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inside-box {
  display: flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inside-box > img {
  width: 43%;
  padding: 0 2% 0 2%;
}

.text4 {
  display: none;
  margin-left: 2%;
  width: 43%;
  height: 10%;
  bottom: 10%;
  background-color: black;
  color: white;
  position: relative;
}

.text5 {
  background-color: black;
  color: white;
  position: absolute;
  display: none;
}

.text6 {
  background-color: black;
  color: white;
  position: absolute;
  display: none;
}

.text7 {
  background-color: black;
  color: white;
  position: absolute;
  display: none;
}

footer {
  background-color: black;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
}

footer li {
  padding: 1em 2em 1em 2em;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

#footer-logo {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: 10%;
}

footer h2 {
  color: white;
  text-align: center;
  padding-bottom: 2%;
}
/*# sourceMappingURL=style.css.map */