* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #5B191A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 0 2% 0;
  overflow: hidden;
}

#title {
  width: 17vw;
  margin-left: 5%;
}

#banner-1 {
  margin-right: 5%;
}

nav {
  background-color: black;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2vw;
}

nav li {
  padding: 1em 2em 1em 2em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

#date {
  text-align: right;
  width: 100%;
  padding-top: 0.5%;
}

#date h2 {
  margin-right: 2%;
}

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #C4C4C4;
  padding: 1% 0 1% 2%;
}

.mobile {
  display: none;
}

.flexbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2%;
}

.flexbox img {
  max-width: 30%;
}

.text1 {
  width: 30%;
  font-size: 1.5vw;
  text-align: center;
  height: 30%;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
}

.text2 {
  width: 30%;
  font-size: 1.5vw;
  text-align: center;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 35%;
  background-color: black;
  color: white;
}

.text3 {
  width: 30%;
  font-size: 1.5vw;
  text-align: center;
  height: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
}

#main-part-two {
  margin-top: 2%;
}

#banner-3 {
  width: 70%;
  display: block;
  margin: auto;
  padding: 2%;
}

.container{
  display:flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 2%;
}

.flexbox2 {
  width: 70%;
  flex-wrap: wrap;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2%;
}
.flexbox2 img{
  width: 40%;
  padding-top: 2%;
  margin-left: 5%;
}

.text4{
  width: 40%;
  font-size: 1.5vw;
  text-align: center;
  height: 13%;
  margin-left: 5%;
  position: absolute;
  bottom: 45%;
  background-color: black;
  color: white;
}
.text5{
  width: 40%;
  font-size: 1.5vw;
  text-align: center;
  height: 13%;
  margin-left: 60%;
  position: absolute;
  bottom: 45%;
  background-color: black;
  color: white;}
.text6{
  width: 40%;
  font-size: 1.5vw;
  text-align: center;
  height: 13%;
  margin-left: 5%;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;}
.text7{
  width: 40%;
  font-size: 1.5vw;
  text-align: center;
  height: 13%;
  margin-left: 60%;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
}

footer {
  background-color: black;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
}

footer li {
  padding: 1em 2em 1em 2em;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

#footer-logo {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: 10%;
}

footer h2 {
  color: white;
  text-align: center;
  padding-bottom: 2%;
}
/*# sourceMappingURL=style.css.map */

p a{
  text-decoration: none;
  color: white;
}
p a:hover{
  color: grey;
}

@media screen and (max-width: 480px) {

  body{
    width: 100%;
  }

  #title{
    padding: 5%;
    width: 30%
  }

  #banner-1{
    display: none;
  }

  nav a{
    font-size: 0.8em;
  }
  nav li{
    padding:3%;
  }
  nav ul{
    justify-content: center;
  }
  #date{
    display:none;
  }
  .header{
    margin-top: 3%;
  }

  .flexbox{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .mobile{
    display: block
  }

  .flexbox img {
    padding: 2%;
    max-width: 40%;
  }

  .flexbox p{
    font-size: 0.7em;
  }
.text1{
  height: 15%;
  width: 40%;
  bottom: 55%;
  left: 5%;
}
.text2{
  height: 15%;
  width: 40%;
  bottom: 55%;
  left: 55%;
}
.text3{
  height: 15%;
  width: 40%;
  left: 5%;
  bottom: 3%;
}
#banner-3{
  display:none;
}
#banner-4{
  display: none;
}
.flexbox2{
  justify-content: space-around;
  width: 100%;
}
.flexbox2 p{
  font-size: 0.6em;
}
.flexbox2 img{
  padding: 0;
  margin: 0;
  padding-bottom: 2%;
}

.text4{
  height: 15%;
  width: 40%;
  bottom: 50%;
  left: 0%;
}
.text5{
  left: -5%;
  bottom: 50%;
}
.text6{
  height: 15%;
  width: 40%;
  left: 0%;
  bottom: 0%;
}
.text7{
  height: 15%;
  width: 40%;
  left: -5%;
  bottom: 0%;
}
footer a{
  font-size: 0.7em;
}
footer ul{
  justify-content: center;
}
footer li{
  padding: 4%;
}
footer{
  height: 200px;
}
#footer-logo{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer h2{
  padding-top: 3%;
  font-size: 0.6em;
}
}